IGT_Aufgabe5/WebContent/wsdl/DiscountCalculator.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://igt5" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://igt5" xmlns:intf="http://igt5" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://igt5" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getDiscount">
    <complexType>
     <sequence>
      <element name="username" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getDiscountResponse">
    <complexType>
     <sequence>
      <element name="getDiscountReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getDiscountRequest">

      <wsdl:part element="impl:getDiscount" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getDiscountResponse">

      <wsdl:part element="impl:getDiscountResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="DiscountCalculator">

      <wsdl:operation name="getDiscount">

         <wsdl:input message="impl:getDiscountRequest" name="getDiscountRequest">

       </wsdl:input>

         <wsdl:output message="impl:getDiscountResponse" name="getDiscountResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="DiscountCalculatorSoapBinding" type="impl:DiscountCalculator">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getDiscount">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDiscountRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getDiscountResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="DiscountCalculatorService">

      <wsdl:port binding="impl:DiscountCalculatorSoapBinding" name="DiscountCalculator">

         <wsdlsoap:address location="http://localhost:8080/IGT_Aufgabe5/services/DiscountCalculator"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
